/.DS_Store
/.ipynb_checkpoints
/.localized
/0025, 0029 Discount effect.xlsx
/2022 JP best selling prefecture and city.numbers
/2022 Sales analysis.xlsx
/2022BF_raw.csv
/2022_Online_without-sample&packages.csv
/220521 World様 原契約.pdf
/230223 Units sold by SKU per Month (Sep 22-).numbers
/230303 Product_Lifespan(By style & By SKU).pdf
/230303 Product_Lifespan(By style & By SKU).pptx
/230321 BF analysis.xlsx
/230327 Cafune商品価格リスト.xlsx
/230331 Mar Monthly report.xls
/230417 Product_Color_Analysis.pdf
/230417 Product_Color_Analysis.pptx
/230529 JP FALL Pop Up revenue projection.numbers
/230823 Gift Packaging Qty for HG 2023.numbers
/230910 World様 覚書.pdf
/231006 地位承継に関する覚書.docx
/231006 地位承継に関する覚書.pages
/231006 地位承継に関する覚書_訂正版.docx
/231021 World様 覚書.pdf
/231122 Memorandum of Understanding for Succession to the Status(translated).docx
/231122 Memorandum of Understanding for Succession to the Status(translated).pdf
/240115 HK VIP list.numbers
/240411 JP Jul Pop up Assortment .numbers
/Canvas bag for Summer23_pricing researach.numbers
/Color classification.xlsx
/Customer analysis (2022).xlsx
/Customer analysis (age &gender).xlsx
/Documents.code-workspace
/Establishment
/For print.xlsx
/HA(backup).xlsx
/Holiday analysis.xlsx
/Holiday_Analysis_ver.0.xlsx
/JP SKU sold during BF weeks.xlsx
/JP area analysis.xlsx
/JP retail price (Summer POP-UP).numbers
/JUN & JUL Packaging Order Chart (Website).numbers
/Jan & Feb Packaging Order Chart (Shopify+Tmall) .numbers
/Jan 2023 Sales 2.xls
/Jan 2023 Sales.csv
/Jan 2023 Sales.xls
/Jun popup options.numbers
/Mercari scraping.ipynb
/Model master list.csv
/Model master list.xlsx
/POP UP 2022 sales analysis_3Feb2023.xlsx
/POP-UP stock leftover.numbers
/Product master list - ACTIVE.numbers
/Product_Lifespan.pdf
/Product_Lifespan.pptx
/Product_Lifespan.xlsx
/SKU&Customer_age(2022 LUCUA&Scramble).xlsx
/Sales per SKU per month (Jul-Dec 23).xlsx
/Scrayping_test ragic.ipynb
/Scrayping_test.ipynb
/Shopify_Donwloader.app
/Shopify_uploader.ipynb
/Style.json
/Tmall sales inputs (template) - By SKU.numbers
/US market share -statista.jpg
/V'day 2024.numbers
/Valentine Gift Box number (as of 15 Feb).numbers
/Weekly - Date, week and month.csv
/Weekly report.xls
/_地位承継に関する覚書_参考_ .pages
/back-remover.ipynb
/coding
/color analysis.pdf
/color analysis.xlsx
/customers_2022-01-01.numbers
/flutter
/from gender_guesser import gender.py
/genderguesser.ipynb
/guess
/guess_nationality.py
/launching list.xlsx
/masterlist.csv
/masterlist.numbers
/returning customer journey.ipynb
/returning customer rate.ipynb
/sales_2022-01-01.xls
/taobao-test.ipynb
/tiers benchmark.xlsx
/tiers.xlsx
/tmrl invoice.xlsx
/upload_shopify.py
/~$color analysis.xlsx
/地位承継に関する覚書_修正【最終版】_231107Cafune訂正版.pages